h1 {
color: #C2767E;
margin-top:0.5rem;
font-family: "Rubik", sans-serif}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
background-color: #EEF7F4;
}

body {
 background-color: #85A9B7;
    padding: 0;
    margin: 0;
}
  /* set map, body, and html to 100% of the screen size */
  #map
 {
	width:100%;
height:100%;
  }

