<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Michigan Covid Vaccine Rollout</title>
    <meta charset="UTF-8">
    <meta name= "viewport" content = "width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="static/style.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
      <!-- D3 JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.15/c3.min.js"></script>
      <script src="https://d3js.org/d3.v5.min.js"></script>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.15/c3.min.css" rel="stylesheet">
  
    
    </head>

<body>
<nav class="navbar navbar-expand-md navbar-dark" style = "background-color:#043053;">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/viz">US Data</a>
            </li>  
              <li class="nav-item">
              <a class="nav-link" href="/Michigan">Michigan Data</a>
            </li>  
            <li class="nav-item">
                <a class="nav-link" href="/World">World Data</a>
              </li>  
          </ul>
        </div>  
    </nav>
    <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Michigan Vaccine Rollout</h1>
        <p>Use the interactive charts below to compare the counties</p>
        <hr>
        <div class="row">
            <div class="col-md-2">
              <div class="well">
                <h5>County:</h5>
                <select id="selDataset" onchange="optionChanged(this.value)"></select>
              </div>
              <br>
              <div class="panel panel-primary">
                <h5>Info:</h5>
                <div class="panel-heading">
                  <h3 class="panel-title"></h3>
                </div>
                <div id="sample-metadata" class="panel-body"></div>
              </div>
            </div>
            <div class="col-md-5">
              <div id="bar"></div>
            </div>
            <div class="col-md-5">
              <div id="pie"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="line"></div>
            </div>
          </div>
    </div>
    </div>
   
  </div>

  <footer class="container-fluid text-center">
    <p>University of Minnesota Data Visualization and Analytics Boot Camp</p>
  </footer>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="static/js/Michigan_map.js"></script>
<script src="static/data/Michigan_Data.json"></script>
<!--<script src="../Michigan_Covid_Vaccine_Data.csv"></script>-->


<!-- Load d3.js -->
<!--<script src="https://d3js.org/d3.v4.min.js"></script>-->


</body>

</html>
